body {
    background-image: url('/src/assets/flower.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    margin-top: 40px;
    padding-right: 20%;
}
.portfolioButton {
    background:#b1d1e85b;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 25px 40px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}
.portfolioButton:hover {
    background:#b1d1e8c0;
    color: #ffff;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(209, 177, 216, 0.5);
}
.button-container {
    display: flex;
    justify-content: right;
    align-content: center;
    padding-top: 20%;
    padding-right: 20%;
}
.popup-container {
    background-color: #cfdbe2e8;
    width: 50%;
    height: 80%;
    border-radius: 10px;
    margin: 20px 10% 20px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; 
}

.pimg {
    width: 80%;
    border-radius: 10px;
}
.pheader {
    font-size: 25px;
    margin: 10px 0 0 0;
}
.psummary {
    color: #ffffff;
    text-align: left;
    margin: 10px 20px 10px 20px;
}
.ptech {
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #ffffff;
}
.pheader {
    margin: 0;
    margin-bottom: 8px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 300;
}

