* {
  color: #000000d1;
  font-family: "Poppins";
}
.info {
    display: flex;
    width: 260px;
    height: 180px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    overflow: hidden;
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.info:hover {
    transform: scale(1.05);
}
.img {
    width: 80%;
}
.header {
    font-size: 25px;
    margin: 10px 0 0 0;
}
.summary {
    color: #0000005b;
    text-align: left;
    margin: 10px 20px 10px 20px;
}
.tech {
    padding: 0;
    margin: 0;
    font-weight: bold;
}
.header {
    margin: 0;
    margin-bottom: 8px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 300;
}

